body {
  padding:50px;
  color:#444;
  font-weight:300;
  background-color: #fbfbfc;
}

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

nav {
  position: fixed;
  margin: 100px 0 0 0;
  width: 280px;
}

main h1 {
  font: 600 30px/24px sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}

main h2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

main h3, main h4 {
  padding-top: 14px;
  padding-bottom: 14px;
}

main {
  position: relative;
  left: 300px;
  width: 800px;
}

body {
  color: #222;
  font: normal 16px/24px sans-serif;
  /* font: normal 17px/24px "Source Sans Pro", sans-serif; */
}

p code {
  font-size: 16px;
}

p {
  padding-bottom: 16px;
  text-align: justify;
  text-justify: inter-word;
  font: normal 17px/24px "Source Sans Pro", sans-serif;
}
 a {
  text-decoration: none;
 }

 a:link, a:visited {
  color: rgb(85, 109, 175);
}

a:hover {
  color: rgb(133, 86, 160);
}

a:active {
  color: rgb(52, 52, 197);
} 

aside {
  font: normal 17px/24px "Source Sans Pro", sans-serif;
  position: absolute;
  right: -336px;
  width: 288px;
  font: normal 14px/20px sans-serif;
  border-top: solid 1px #232329;
}
